<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</head>

<body>
    <h1>Add the details of your favorite Beach</h1>
    <form action="/beaches" method="POST">
        <input type="text" placeholder="name" name="name" /><br/>
        <input type="text" placeholder="location" name="location" /><br/>
        <input type="text" placeholder="descripion" name="desciption" /><br/>
        <input type="number" placeholder="temp" name="temp" /><br/>
        <input type="number" placeholder="people" name="people" /><br/>
        <input type="submit" value="Create Beach" />
      </form>



</body>
</html>