<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
</head>

<body>
    <h1>Add the details of your favorite Beach</h1>
    <form action="/beaches" method="POST">
        <form action="/products" method="POST">
            <input type="text" placeholder="name" name="Enter name" /><br/>
            <input type="text" placeholder="location" name="Enter location" /><br/>
            <input type="text" placeholder="description" name="Enter description" /><br/>
            <input type="number" placeholder="average temperature" name="average temperature" /><br/>
            <input type="number" placeholder="number of people" name="number of people" /><br/>
         </form>


        <input class="button-primary" type="submit" value="Add Beach">

    </form>

</body>